.site-header {
	background: $header-background-color;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 2rem;

	h1 {
		margin: 0;
		font-size: 2.5rem;
		font-weight: 600;
		text-transform: uppercase;
		a {
			color: rgba( $white, 0.3 );
		}
	}

	.main-navigation {
		flex: 1;
		margin-left: 4rem;
		display: flex;
		justify-content: flex-end;
		text-transform: uppercase;
		font-size: 1.35rem;
		font-weight: 600;

		ul {
			margin: 0;
			padding: 0.6em 1em;
			display: flex;
			flex: 1;
			justify-content: flex-end;
			align-items: center;
			transition: all $button-transition-speed ease-in-out;


			li {
				list-style-type: none;
				padding: 0 2rem;
				margin: 0 1rem;

				+ li {
					border-left: 1px solid rgba( $light-green, 0.3 );
					margin-left: 0;
				}

				a {
					transition: all $button-transition-speed ease-in-out;
				}

			}


		}

	}
	a {
		color: $inverse-link-color;

		&:hover {
			color: $inverse-link-color-hover;
		}
	}

	&.smaller {

	}

}
.site-logo {


}

.smaller {
	.site-logo {

	}

}
